/*overall body styles after reset css*/
body {
	font-family: "Georgia", "Times New Roman", "Times", "serif";
	color: #777777;
	margin: 0;
	padding: 0;
}

/*p text font styles*/
p {
	color: #777777;
	padding: 5px;
	margin: 0px 30px 0px 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

/*wrapper for header, total width of page*/
header {
	background-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-color: #cccccc;
	margin: 0px;
	height: 90px;
}	

/*just the name on the logo of each page*/
h1 {
	background-color:#4aaaa5;
	color: #FFFFFF;
	font-size: 26px;
	font-weight: bold;
	margin: auto;
	width: 160px;
	text-align: center;
	padding: 19px 15px;
	float: left;
}

/*only the header content, aligned with page content to 960px width*/
.headerContent {
	width: 960px;
	margin: auto;
}

/*my name on top right of each page header*/
.logo {
	background-color: #4aaaa5;
	width: 190px;
	height: 90px;
	text-align: center;
	padding: 0px;
	float: left;
}

/*styles for header nav button area*/
#headerNav {
	font-family: sans-serif;
	float: right;
	height: 90px;
	width: 290px;
	text-align: center;
	line-height: 100px;
	margin-right: 0px;
	background-color: #ffffff
	color: #999999;
	text-decoration: none;
}

/*set the styles for the header nav buttons*/
#headerNav a {
	position: relative;
	text-decoration: none;
	background-color: #ffffff;
	color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
	margin: auto;
	padding: 0px 10px 0px 10px;
	height: 64px;
}

#headerNav a:hover {
	background-color: #999999;
	color: #ffffff;
}

/*white-out the right border on last nav button*/
#contactHeadButton {
	border-color: #ffffff;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 10px 0px 20px 0px;
	margin: 30px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
}

/*images for portfolio gallery page*/
figure {
	float: left;
	width: 240px;
	padding-left: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*position caption over image on portfolio gallery*/
figcaption {
	position: absolute;
	width: 240px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	margin-top: -50px;	
	z-index: 1;
}

/*overall content area of page*/
.container {
	max-width: 960px;
	margin: 50px auto;
}
 
/*overall styles for main body content area*/
section {
	float: left;
	width: 650px;
	line-height: 1.5;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin: 5px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

/* my image on aboutme page*/
#bioImage {
	float: left;
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 5px 10px 5px 0px;
}

/*connect box social media buttons*/
aside {
	float: left;
	width: 270px;
	line-height: 1.5;
	background-color: #ffffff;
	margin: 5px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding-bottom: 20px;
}

aside nav {
	padding: 10px;
}

aside a {
	padding: 8px;
}

/*footer style*/
footer {
	clear: both;
	overflow: auto;
	text-align: center;
	background-color: #666666;
	color: #cccccc;
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
	line-height: 80px;
	border-top-style: solid;
	border-top-width: 6px;
	border-top-color: #4aaaa5;
	margin-bottom: 0px;
}

/*placeholder styling if i add images later to text pages*/
p img {
	float: left;
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0px 10px 5px 0px;
}

/*image sizes for portfolio page gallery*/
#gallery img {
	width: 100%;
	height: 100%;
}

/*overall form style*/
form {
	padding-bottom: 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*name and email input boxes*/
input {
	margin-left: 30px;
	margin-bottom: 10px;
	width: 590px;
	height: 30px;
}

/*set message box dimensions on contact me page*/
textarea {
	margin-left: 30px;
	width: 590px;
	height: 200px;
}

/*clears the left padding on input titles*/
form p {
	padding: 0px;
}

/* at bottom of form on contact page*/
#submitButton {
	max-width: 80px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-weight: bold;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	margin-top: 10px;
}

/* Rule to set layout style on screens less than 960pxWide*/
@media screen and (max-width: 980px) {
	.container {
		width: 80%;
	}

	header {
		width: 100%;
	}

	.headerContent {
		width: 80%;
	}

	.logo {
		width: 30%;
	}

	#headerNav {
		width: 40%;
		float: right;
	}

	section {
		width: 50%;
	}

	#bioImage {
		width: 100%;
		height: 100%;
	}

	figure {
		width: 80%;
		clear: both;
		padding: 5px;
	}

	#gallery img {
		max-height: 100%;
		max-width: 100%
		width: 100%;
		margin-bottom: 5px;
	}

	figcaption {
		width: 32%;
	}

	form {
		width: 100%;
		padding-bottom: 0px;
	}

	input {
		width: 80%;
	}

	textarea {
		width: 80%;
	}

	aside {
		width: 40%;
		float: right;
	}

	aside h3 {
		width: 80%;
	}

	aside nav {
		padding: 10px 20px 10px 20px;
		width: 80%;
	}

	aside img {
		width: 20%;
		height: 20%;
	}
}


/* Rule to set layout style on screens less than 960pxWide*/
@media screen and (max-width: 768px) {
	header {
		width: 100%;
	}
	.container {
		width: 95%;
	}
	
	#bioImage {
		margin-right: 20px;
	}

	.headerContent {
		width: 95%;
	}

	.logo {
		width: 30%;
	}

	/*#headerEmptyDiv {
		width: 30%;
	}*/
	#headerNav {
		width: 40%;
		float: right;
	}

	#headerNav a {
		font-size: 16px;
		font-weight: bold;
		font-family: Sans-serif;
		padding: 10px;
		padding-right: 20px;
	}

	section {
		width: 100%;
	}

	aside {
		width: 100%;
		clear: both;
		overflow: auto;
		margin: 20px auto;
	}

	nav img {
		width: 40;
		height: 40;
		float: left;
		margin-right: 10px;
	}

	h3 {
		text-align: left;
	}

	#bioImage {
		width: 50%;
		height: 50%;
	}

	figure {
		clear: none;
		float: left;
		width: 40%;
		height: 40%;
		margin: 0px;
		margin-left: 35px;
		padding: 0px;
	}
}


/* Rule to set layout style on screens less than 960pxWide*/
@media screen and (max-width: 640px) {
	header {
		position: static;
		width: 100%;
	}

	.container {
		width: 95%;
	}
	
	#bioImage {
		margin-right: 20px;
	}

	.headerContent {
		width: 100%;
	}

	.logo {
		width: 100%;
		text-align: center;
	}

	#headerNav {
		width: 100%;
		height: 45px;
		line-height: 3.0;
		background-color: #ffffff;
	}

	h1 {
		text-align: center;
		width: 100%;
		line-height: 2.0;
	}

	#headerNav a {
		font-size: 16px;
		font-family: Sans-serif;
		padding: 0px 40px 00px 40px;
	}

	figure {
		width: 88%;
	}
	figcaption {
		width: 84%;
	}

	#bioImage {
		width: 95%;
		height: 95%;
	}

}
